*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #4F5665;
  font-weight: 400;
  background-color: white;
}

button {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  outline: none;
  border: none;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: none;
  outline: none;
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.btn--primary {
  font-weight: 700;
  background-color: #F53838;
  color: white;
}
.btn--outline {
  background-color: transparent;
  color: #F53838;
  font-weight: 500;
  border: 1px solid;
}
.btn--rounded {
  line-height: 1.5625;
  border-radius: 10px;
  padding: 17.5px 65px;
}
.btn--shadow {
  position: relative;
  z-index: 0;
}
.btn--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 100%;
  width: 90%;
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(20px);
  border-radius: inherit;
  z-index: -1;
  pointer-events: none;
}

.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .btn {
    padding: 10px 15px;
  }
}
h1, h2, h3, h4, h5 {
  color: #0B132A;
}

.heading {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #0B132A;
  margin-bottom: 20px;
}

.heading-small {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1.6666666667;
}

.text {
  line-height: 1.875;
}

.text-small {
  font-size: 14px;
  line-height: 2.1428571429;
}

.text-medium {
  font-weight: 500;
}

@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 30px;
  }
}
.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.header-signin {
  color: #0B132A;
}

@media screen and (max-width: 1023.98px) {
  .header {
    padding: 25px 0 50px;
  }
  .header-auth {
    display: none;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
  display: inline-block;
}
.menu-toggle {
  display: none;
  height: 20px;
  width: 30px;
  cursor: pointer;
}
.menu-toggle span {
  width: 100%;
  height: 4px;
  border-radius: 100rem;
  background-color: #0B132A;
  display: block;
  pointer-events: none;
}

@media (hover: hover) {
  .menu-link,
.footer-link {
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .menu-link:after,
.footer-link:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #F53838;
    transition: all 0.2s ease-in-out;
  }
  .menu-link:hover,
.footer-link:hover {
    color: #F53838;
  }
  .menu-link:hover:after,
.footer-link:hover:after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu-item--auth,
.menu-item--logo {
    display: none;
  }
}
@media screen and (max-width: 1023.98px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 999;
    border-left: 1px solid #DDD;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: center;
    transform: translateX(110%);
    will-change: transform;
    transition: transform 0.25s ease-in-out;
  }
  .menu.is-show {
    transform: translateX(0);
  }
  .menu-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 100rem;
  }
  .menu-link:hover {
    background-color: #F53838;
    color: white;
  }
  .menu-toggle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu-item--auth {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
  }
  .menu-item--auth .btn {
    padding: 13px 28px;
  }
  .menu-item--logo {
    margin-bottom: 30px;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
}
.hero-desc {
  margin-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .hero-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(67px, -50%);
  }
}
@media screen and (max-width: 1279.98px) {
  .hero-content {
    max-width: 520px;
  }
}
@media screen and (max-width: 1023.98px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero-heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 35px 0;
  }
  .hero-content {
    text-align: center;
  }
  .hero-heading {
    font-size: 30px;
  }
  .hero-desc {
    margin-bottom: 25px;
  }
}
.intro {
  padding-bottom: 95px;
}
.intro-container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 37px 0;
  box-shadow: 0 42px 114px -10px rgba(13, 16, 37, 0.06);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 200px;
}
.intro-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
}
.intro-title {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .intro-item:nth-child(2) {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
  }
}
@media screen and (max-width: 1023.98px) {
  .intro-item {
    gap: 0 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .intro {
    padding-bottom: 50px;
  }
  .intro-container {
    padding: 30px 0;
  }
  .intro-item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px 0;
  }
  .intro-title {
    font-size: 22px;
  }
  .intro-text {
    font-size: 16px;
  }
}
.feature {
  padding-bottom: 130px;
}
.feature .heading {
  max-width: 380px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 170px;
}
.feature-content {
  flex: 1;
}
.feature-desc {
  margin-bottom: 20px;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.feature-item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (max-width: 1279.98px) {
  .feature-container {
    gap: 0 100px;
  }
}
@media screen and (max-width: 1023.98px) {
  .feature {
    padding-bottom: 50px;
  }
  .feature-container {
    gap: 0 20px;
    align-items: center;
  }
  .feature-image {
    flex: 1.5;
  }
}
@media screen and (max-width: 767.98px) {
  .feature {
    padding-bottom: 50px;
  }
  .feature-container {
    flex-direction: column;
    gap: 30px 0;
  }
}
.plan {
  padding: 80px 0 30px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.plan-header {
  margin-bottom: 60px;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  padding: 0 25px;
  margin-bottom: 150px;
}
.plan-item {
  background: #FFFFFF;
  border: 2px solid #DDD;
  border-radius: 10px;
  padding: 80px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.plan-image img {
  margin: 0 auto 30px;
}
.plan-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.plan-details {
  margin-bottom: 50px;
}
.plan-info {
  display: flex;
  align-items: center;
  gap: 0 25px;
  margin-bottom: 10px;
}
.plan-price {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: auto;
}
.plan-price span {
  font-weight: 400;
  color: #4F5665;
}
.plan-item.is-active, .plan-item:hover {
  border-color: #F53838;
}
.plan-btn {
  border: 2px solid;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.plan-btn::after {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.plan-btn:hover {
  background-color: #F53838;
  color: white;
}
.plan-btn:hover::after {
  opacity: 1;
}

.network-header {
  margin-bottom: 155px;
}
.network-header .heading {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
.network-image img {
  margin: 0 auto;
}

@media screen and (max-width: 1279.98px) {
  .plan-list {
    grid-gap: 0 35px;
  }
}
@media screen and (max-width: 1023.98px) {
  .plan-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 320px;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    margin-bottom: 80px;
  }

  .plan-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .plan-list > * {
    scroll-snap-align: start;
  }

  .network-header {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .plan {
    padding-top: 50px;
  }
  .plan-list {
    padding: 0;
    grid-auto-columns: 88%;
    grid-gap: 0 25px;
    margin-bottom: 50px;
  }
  .plan-item {
    padding: 50px 30px;
  }
  .plan-details {
    margin-bottom: 20px;
  }
  .plan-btn {
    width: 80%;
  }
}
.partner {
  margin-top: 80px;
  margin-bottom: 120px;
}
.partner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 60px;
}
.partner img {
  transition: filter 0.2s ease-in-out;
}
.partner img:hover {
  filter: brightness(0.5);
}

@media screen and (max-width: 1023.98px) {
  .partner {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .partner-list {
    gap: 0 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .partner {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.customer-header {
  margin-bottom: 60px;
}
.customer-header .heading {
  max-width: 447px;
  margin-left: auto;
  margin-right: auto;
}
.customer-item {
  border: 2px solid #DDD;
  border-radius: 10px;
  padding: 30px;
  transition: border 0.2s ease-in-out;
}
.customer-item.slick-active.slick-current {
  border-color: #F53838;
}
.customer-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-name, .customer-address {
  line-height: 1;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #0B132A;
}
.customer-desc {
  color: #0B132A;
}
.customer .slick-track {
  display: flex;
  align-items: stretch;
  padding-bottom: 60px;
}
.customer .slick-slide {
  margin-right: 50px;
  height: auto;
  max-width: 400px;
}
.customer .slick-dots {
  display: flex;
  align-items: center;
  gap: 0 15px;
  transform: translateY(50%);
}
.customer .slick-dots button {
  font-size: 0;
  background-color: #DDE0E4;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  transition: all 0.2s ease-in-out;
}
.customer .slick-dots .slick-active button {
  background-color: #F53838;
  width: 45px;
}
.customer .slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  border: 2px solid #F53838;
  color: #F53838;
  background-color: white;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  z-index: 2;
}
.customer .slick-arrow .fi {
  font-size: 20px;
  margin-bottom: -3px;
}
.customer .slick-arrow:hover {
  background-color: #F53838;
  color: white;
}
.customer .slick-prev {
  right: 80px;
}
.customer .slick-next {
  right: 0;
}

@media screen and (max-width: 767.98px) {
  .customer-header {
    margin-bottom: 40px;
  }
  .customer .slick-slide {
    margin: 0 15px;
  }
  .customer .slick-track {
    padding-bottom: 10px;
  }
  .customer .slick-dots {
    justify-content: center;
  }
}
.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 58px 70px;
  box-shadow: 0 30px 114px -10px rgba(13, 16, 37, 0.06);
}
.subscribe-content {
  max-width: 370px;
}
.subscribe-content .heading {
  line-height: 1.1428571429;
}

@media screen and (min-width: 768px) {
  .subscribe {
    transform: translateY(50%);
  }
}
@media screen and (max-width: 1023.98px) {
  .subscribe-container {
    padding: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe {
    margin: 50px 0;
  }

  .subscribe-container {
    flex-direction: column;
    gap: 30px 0;
    padding: 40px 20px;
  }
}
.footer {
  padding: 180px 0 100px;
  background-color: #F8F8F8;
}
.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 30px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-desc {
  margin-bottom: 30px;
  max-width: 340px;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 30px;
}
.footer .social-item {
  border-radius: 100rem;
  box-shadow: 0 13px 18px 0 rgba(17, 19, 35, 0.1);
}
.footer .copyright {
  color: #AFB5C0;
}
.footer-heading {
  margin-bottom: 20px;
}
.footer-item {
  margin-bottom: 10px;
}
.footer-link {
  color: inherit;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    padding: 150px 0 50px;
  }
  .footer-container {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 0 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer {
    padding: 50px 0;
  }
  .footer-container {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
    text-align: center;
  }
  .footer .social {
    justify-content: center;
  }
}

/*# sourceMappingURL=app.css.map */
