.feature {
   padding-bottom: 130px;
   .heading {
      max-width: 380px;
   }
   &-container {
      display:flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 0 170px;
   }
   &-content {
      flex: 1;
   }
   &-desc {
      margin-bottom: 20px;
   }
   &-item {
      display: flex;
      align-items: center;
      gap: 0 10px;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}
@media screen and (max-width: 1279.98px) {
   .feature-container {
      gap: 0 100px;
   }
}
@media screen and (max-width: 1023.98px) {
   .feature {
      padding-bottom: 50px;
      &-container {
         gap: 0 20px;
         align-items: center;
      }
      &-image {
         flex: 1.5;
      }
   }
}
@media screen and (max-width: 767.98px) {
   .feature {
      padding-bottom: 50px;
      &-container {
         flex-direction: column;
         gap: 30px 0;
      }
   }
}
