.partner {
   margin-top: 80px;
   margin-bottom: 120px;
   &-list {
      display:flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 60px;
   }
   img {
      transition: filter 0.2s ease-in-out;
      &:hover {
         filter: brightness(0.5);
      }
   }
}
@media screen and (max-width: 1023.98px) {
   .partner {
      margin-top: 50px;
      margin-bottom: 80px;
      &-list {
         gap: 0 20px;
      }
   }
}
@media screen and (max-width: 767.98px) {
   .partner {
      margin-top: 20px;
      margin-bottom: 50px;
   }
}
